.round-title{
    background-color: orange;
    color: aliceblue;
    padding: 10px;
    font-family: $font-header;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 33px;
    border-radius: 50%;
}